@font-face {
  font-family: 'Opensans-regular';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans-bold';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none; 
}

.container {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  box-sizing: border-box;
}

.site-header {
  position: relative;
  min-height: 450px;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  text-align: center;
}

.site-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  font-family: 'Opensans-regular', sans-serif;
  text-transform: uppercase;
  justify-content: space-between;
  width: 100%;
}

.burger {
  display: none;
}

.menu-item:hover {
  border-bottom: 1px solid white;
}

.menu-logo-link {
  min-width: 179px;
  min-height: 41px;
  margin-left: 248px;
  margin-top: 30px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  margin-top: 28px;
  margin-right: 245px;
}

.menu-item {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.menu-item:not(:last-child) {
  margin-right: 35px;
}

.header-title {
  margin-block-start: 0;
  margin-block-end: 0;

  text-align: center;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 45px;
  color: #ffffff;
  max-width: 679px;
  text-transform: uppercase;
  line-height: 75px;
  font-weight: 700;
}

.trends-title {
  margin-block-start: 0;
  margin-block-end: 0;

  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 29.15px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 59px;
  height: 23px;
}

.trends-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
}

.trends-items {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 45px;
  justify-content: center;
}

.trends-preview {
  position: relative;
  max-width: 412px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  
}

.trend-image {
  width: 100%;
  display: block;
  
}

.trends-preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.description {
  position: absolute;
  padding: 25px 0px 30px 30px;
  left: 23px;
  right: 23px;
  bottom: 22px;
  z-index: 2;
  font-family: 'Opensans-bold', sans-serif;
  text-transform: uppercase;
  border: 3px solid #b59f5b;

  display: flex;
  flex-direction: column;
}

.trend-tag-content {
  display: flex;
  gap: 20px;
  line-height: 35px;
}

.trend-tag {
  font-size: 14px;
  color: #b59f5b;
  cursor: pointer;
}

.trend-tag:hover {
  border-bottom: 1px solid #b59f5b;
}


.trend-desc {
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 20px;
  color: white;
  line-height: 24px;
}

.main-content {
  display: flex;
  gap: 124px;
  max-width: 1170px;
  margin: 52px auto 0;
}

.visually-hidden {
  overflow: hidden;
  display: none;
}

.posts {
  display: flex;
  flex: 1 1 auto;
  min-width: 300px;
  margin-top: 10px;
}

.post {
  display: flex;
  margin-top: 55px;
  box-sizing: border-box;
}

.post:first-child {
  margin-top: 0;
}

.post-image {
  width: 381px;
  height: 295px;
}

.post-text-content {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
  gap: 14px;
  margin-bottom: 45px;
}

.category {
  display: flex;
  gap: 18px;
}

.category-title {
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  cursor: pointer;
}

.category-title:hover {
  border-bottom: 1px solid #b59f5b;
}

.post-title {
  margin-block-start: 0;
  margin-block-end: 0;

  font-family: 'Opensans-bold', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 28px;
  margin-top: 4px;
  cursor: pointer;
}

.post-title:hover {
  color: #b59f5b;
}

.date {
  font-family: 'Opensans-regular', sans-serif;
  font-size: 12px;
  color: #888888;
}

.author {
  font-family: 'Opensans-bold', sans-serif;
  font-size: 12px;
}



.post-desc {
  font-family: 'Opensans-regular', sans-serif;
  font-size: 15px;
  line-height: 22px;

}

.post-desc-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar {
  flex: 0 0 272px;
}

.new-posts {
  height: auto;
}

.new-post-title {
  margin-block-start: 0;
  margin-block-end: 0;

  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 29.15px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 5px;
}

.new-post-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
}

.new-post {
  margin-top: 11px;
  display: flex;
}

.new-post:first-child {
  margin-top: 31px;
}

.new-post-image {
  width: 70px;
  height: 71px;
  margin-top: 5px;
}

.new-post-description {
  margin-left: 20px;
  box-sizing: border-box;
}

.new-post-desc {
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
}

.search-form {
  display: flex;
  margin-top: 60px;
}

.search-input {
  box-sizing: border-box;
  font-size: 13px;
  width: 224px;
  height: 50px;
  padding: 0 20px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
}

.search-input:focus {
  width: 224px;
  height: 50px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.placeholder {
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: 'Opensans-regular', sans-serif;
}

.search-button {
  -webkit-appearance: none;
  appearance: none;

  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #323232;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.mailing-list-title {
  margin-block-start: 0;
  margin-block-end: 0;

  margin-top: 50px;
  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 700;
}


.mailing-list-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.email-field {
  margin-top: 30px;
  box-sizing: border-box;
  font-size: 13px;
  width: 272px;
  height: 50px;
  padding: 0 20px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
}

.email-field:focus {
  width: 272px;
  height: 50px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.subscribe-button {
  margin-top: 16px;
  width: 272px;
  height: 50px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
  border: none;
  cursor: pointer;
}

.subscribe-button:hover {
  width: 272px;
  height: 50px;
  background-color: #323232;
}

.tags-title {
  margin-block-start: 0;
  margin-block-end: 0;

  margin-top: 50px;
  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 700;
}


.tags-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
  width: 272px;
  margin-top: 35px;
}

.tags-item {
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
  padding: 7px 13px;
  background-color: rgba(244,243,241,0);  
  border: 3px solid #eeeeee;
  text-align: center;
  line-height: 10px;
}

.tags-item:hover {
  background-color: rgba(244,243,241,0);
  border: 3px solid #b59f5b;
}

.themes-title {
  margin-block-start: 0;
  margin-block-end: 0;

  margin-top: 62px;
  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 700;
}

.themes-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
}

.themes-list {
  list-style-type: none;
  height: 272px;
  margin-top: 18px;
  height: 321px;
}

.themes-item {
  position: relative;
  box-sizing: border-box;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}

.themes-item ::after {
  content: "";
  position: absolute;
  width: 272px;;
  height: 1px;
  background-color: #eeeeee;
  top: 37px;
  left: 0;
  bottom: 0;
}

.themes-item:hover {
  font-size: 14px;
  line-height: 47px;
  color: #b59f5b;
  font-weight: 700;
}

.exponent {
  font-size: 12px;
  margin-left: 6px;
  vertical-align: super;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
}

.shop-title {
  margin-block-start: 0;
  margin-block-end: 0;

  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 29.15px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 53px;
  height: 23px;
}

.shop-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
}

.shop-wrapper {
  max-width: 1170px;
  gap: 130px;
  margin: 44px auto 0;
  display: flex;
  flex-wrap: wrap;
}

.shop-items {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.shop-item {
  max-width: 301px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.shop-item::after {
  content: "";
  position: absolute;
  width: 345px;
	height: 268px;
  background-color: rgba(0,0,0,0);
	border: 3px solid #b59f5b;
	top: -40px;
  left: 50%;
  transform: translateX(-50%);
	z-index: 1;
}

.shop-item-title {
	margin-top: 27px;
	font-family: 'Opensans-bold', sans-serif;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
}

.shop-item-desc {
	margin-top: 17px;
	font-size: 15px;
	line-height: 22px;
	color: #0f0d0e;
	font-weight: 400;
	font-family: 'Opensans-regular', sans-serif;
	position: relative;
	z-index: 2;
}

.shop-item-desc-link {
	color: #b59f5b;
	text-decoration: none;
	cursor: pointer;
}

.shop-item-desc-link:hover {
	font-weight: 400;
  text-decoration: underline;
}

.price {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	font-family: 'Opensans-bold', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700
}

.price:nth-child(2) {
	margin-top: 40px;
}

.price-1 {
	text-decoration: line-through;
	font-size: 14px;
	text-decoration: line-through;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	font-family: 'Opensans-bold', sans-serif;
}

.shop-button {
	width: 141px;
	height: 49px;
	background-color: #b59f5b;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Opensans-bold', sans-serif;
	border: none;
	position: absolute;
	left: 160px;
	bottom: 0px;
	cursor: pointer;
	z-index: 2;
}

.shop-button:hover {
	background-color: #323232;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  margin: 90px auto 0;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 83px;
  gap: 30px;
  background-color: #f4f7f6;
  width: 100%;
  max-width: 1170px;
}


.footer-icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.footer-copyright {
  margin-top: 57px;
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-form {
  margin-top: 53px;
  background: white;
  padding: 40px 30px;
  width: 396px;
  height: 596px;
  position: relative;
}

.popup-close {
  position: absolute;
  top: -1.5em;
  right: 0;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.popup-title {
  font-size: 20px;
  text-align: center;
  margin-top: 9px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
}

.popup-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #b59f5b;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.popup-container {
  display: block;
  font-size: 13px;
  font-family: 'Opensans-regular', sans-serif;
} 

.popup-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 34px;
}

.popup-content select, 
.popup-content textarea {
  width: 331px;
  height: 50px;
  padding: 12px;
  border: none;
  background-color: #f4f7f6;
  margin-top: 5px;
  font-size: 13px;
  font-family: 'Opensans-regular', sans-serif;
  box-sizing: border-box;
} 

textarea:focus,
select:focus {
  outline: none; 
  border: 1px solid #b59f5b; 
}

.popup-content select {
  margin-bottom: 25px;
  appearance: none;        
  -webkit-appearance: none;    
  -moz-appearance: none;       

  background-color: #f4f7f6;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='24' viewBox='0 0 174 296' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M86.944.389l75.297 130.417H11.648L86.944.389zM86.945 296L11.648 165.583h150.593L86.944 296z' fill='%23B59F5B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px 18px;
}

.hint {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  width: 310px;
}

.popup-content textarea {
  min-height: 133px;
  resize: none;
}

.radio-group {
  display: flex;
  gap: 12px; 
  margin-bottom: 29px;
  margin-top: 4px;
  margin-left: 3px;
}

.radio {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}

.radio input[type="radio"] {
  display: none;
}

.radio-svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  position: relative;
}

.radio-svg .checked {
  display: none;
}

.radio input[type="radio"]:checked + .radio-svg .unchecked {
  display: none;
} 

.radio input[type="radio"]:checked + .radio-svg .checked {
  display: inline;
}

.answer {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Opensans-regular', sans-serif;
}

.submit-btn {
  background-color: #b59f5b;
  border: none;
  padding: 15px;
  width: 331px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
  height: 49px;
  margin-top: 15px;
} 

.submit-btn:hover {
  background-color: #323232;
}
 
._hidden {
  display: none;
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
    width: 100%;
    box-sizing: border-box;
  }
  .site-header {
    background-image: url('../images/banner-mobile.jpg');
    background-size: cover;
    background-position: center;
    height: 1135px;
    min-width: 362px;
    gap: 0;
  }

  .menu {
    position: relative;
  }

  .burger {
    display: block;
    position: absolute;
    top: 31px;
    right: 20px;
    transform: translateY(-50%);
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }

  .menu-list {
    display: none;
  }

  .menu-logo-link {
    display: block;
    margin: 237px auto 0;
    width: 269px;
    height: 61px;
  }

  .header-title {
    max-width: 277px;
    max-height: 91px;
    width: 100%;
    font-size: 26px;
    line-height: 36px;
    margin-top: 45px;
  }

  .trends-title {
    font-size: 16px;
    margin-top: 43px;
  }

  .trends-items {
    flex-direction: column;
    gap: 3px;
  }

  .trends-preview {
    max-width: 100%;
    min-width: 362px;
    width: 100%;
    height: 233px;
  }

  .trend-image {
    width: 100%;
    height: 233px;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .trend-desc {
    margin-block-start: 0;
    margin-block-end: 0;

    font-size: 16px;
    color: white;
    line-height: 20px;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 16px;
  }

  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 100%;
    margin-top: 0;
    gap: 40px;
  }
    
  .post {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    align-items: center;
    width: 100%;
    gap: 15px;
  }

  .post-image {
    display: block;
    width: 100%;
    height: 254px;
    object-fit: cover;
  }

  .post-text-content {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .post-title {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
  }

  .meta {
    margin-bottom: 25px;
  }

  .post-desc {
    font-size: 14px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
  .new-posts {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    max-width: 331px;
  }

  .search-form {
    display: flex;
    margin: 60px 0 auto;
    max-width: 331px;
    width: 100%;
  }

  .search-input {
    width: 283px;
  }

  .email-field,
  .subscribe-button {
    max-width: 331px;
    width: 100%;
  }
 
  .tags-list {
    width: 330px;
    height: 67px;
    margin: 35px 0 auto;
  }

  .tags-item {
    flex: 1;
    box-sizing: border-box;
  }

  .shop-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 37px;
  }

  .shop-item::after {
    min-width: 324px;
    width: 100%;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }

}

@media (min-width: 641px) and (max-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
  }
  .site-header {
    background-image: url('../images/banner-bg-tablet.jpg');
    background-size: cover;
    background-position: center;
    height: 613px;
    min-width: 641px;
    width: 100%;
    gap: 0;
  }

  .burger {
    display: block;
    position: absolute;
    top: 53px;
    right: 35px;
    transform: translateY(-50%);
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }

  .menu-list {
    display: none;
  }

  .menu-logo-link {
    display: block;
    margin-left: 35px;
    margin-top: 46px;
    width: 158px;
    height: 36px;
  }

  .header-title {
    max-width: 604px;
    max-height: 86px;
    width: 100%;
    font-size: 40px;
    line-height: 55px;
    margin-top: 181px;
  }

  .trends-title {
    font-size: 18px;
    margin-top: 43px;
  }

  .trends-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    max-width: 770px;
    width: 100%;
    margin: 45px auto;
  }

  .trends-preview {
    max-width: none;
    min-width: 383px;
    width: calc(50% - 1.5px);
    height: 249px;
  }

  .trend-image {
    width: 100%;
    height: 249px;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .trend-desc {
    margin-block-start: 0;
    margin-block-end: 0;

    font-size: 18px;
    color: white;
    line-height: 22px;
  }

  .main-content {
    margin: 0 auto;
    max-width: 770px;
    width: 100%;
    padding: 0 16px;
  }

  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 393px;
    width: 100%;
    margin-top: 0;
    gap: 40px;
  }
    
  .post {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    align-items: center;
    width: 100%;
    gap: 15px;
  }

  .post-image {
    display: block;
    max-width: 381px;
    width: 100%;
    height: 254px;
    object-fit: cover;
  }

  .post-text-content {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .post-title {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 16px;
  }

  .meta {
    margin-bottom: 25px;
  }

  .post-desc {
    font-size: 14px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    max-width: 271px;
    width: 100%;
    margin: 0 auto;
  }

  .new-posts {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    max-width: 331px;
  }

  .search-form {
    display: flex;
    max-width: 271px;
    width: 100%;
  }

  .search-input {
    width: 223px;
  }

  .email-field,
  .subscribe-button {
    max-width: 271px;
    width: 100%;
  }
 
  .tags-list {
    width: 271px;
    height: 67px;
    margin: 35px 0 auto;
  }

  .tags-item {
    flex: 1;
    box-sizing: border-box;
  }

  .shop-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 37px;
    gap: 68px;
    max-width: 770px;
    width: 100%;
  }

  .shop-items {
    display: flex;
    flex-wrap: wrap;
  }

  .shop-item::after {
    min-width: 324px;
    width: 100%;
    padding: 0 11px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }
}

