@font-face {
  font-family: 'Opensans-regular';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Opensans-bold';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none; 
}

.container {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  box-sizing: border-box;
}

.site-header {
  position: relative;
  min-height: 450px;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  text-align: center;
}

.site-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  font-family: 'Opensans-regular', sans-serif;
  text-transform: uppercase;
  justify-content: space-between;
  width: 100%;
}


.menu-item:hover {
  border-bottom: 1px solid white;
}

.menu-logo-link {
  min-width: 179px;
  min-height: 41px;
  margin-left: 248px;
  margin-top: 30px;
}

.menu-list {
  list-style-type: none;
  display: flex;
  margin-top: 28px;
  margin-right: 245px;
}

.menu-item {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.menu-item:not(:last-child) {
  margin-right: 35px;
}

.header-title {
  margin-block-start: 0;
  margin-block-end: 0;

  text-align: center;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 45px;
  color: #ffffff;
  max-width: 679px;
  text-transform: uppercase;
  line-height: 75px;
  font-weight: 700;
}

.trends-title {
  margin-block-start: 0;
  margin-block-end: 0;

  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 29.15px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 59px;
  height: 23px;
}

.trends-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
}

.trends-items {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 45px;
  justify-content: space-between;
}

.trends-preview {
  position: relative;
  max-width: 412px;
  max-height: 319px;
  overflow: hidden;
}

.trend-image {
  width: 100%;
  height: 100%;
}

.trends-preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: 1;
}

.description {
  position: absolute;
  max-width: 100%;
  padding: 25px 0px 30px 30px;
  left: 23px;
  right: 23px;
  bottom: 22px;
  z-index: 2;
  font-family: 'Opensans-bold', sans-serif;
  text-transform: uppercase;
  border: 3px solid #b59f5b;
}

.trend-tag-content {
  display: flex;
  gap: 20px;
  line-height: 35px;
}

.trend-tag {
  font-size: 14px;
  color: #b59f5b;
  cursor: pointer;
}

.trend-tag:hover {
  border-bottom: 1px solid #b59f5b;
}


.trend-desc {
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 20px;
  color: white;
  line-height: 24px;
}

.main-content {
  display: flex;
  gap: 124px;
  max-width: 1170px;
  margin: 52px auto 0;
}

.posts {
  flex: 1 1 auto;
  min-width: 300px;
  margin-top: 10px;
}

.post {
  display: flex;
  margin-top: 55px;
  box-sizing: border-box;
}

.post:first-child {
  margin-top: 0;
}

.post-image {
  width: 381px;
  height: 295px;
}

.post-text-content {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
  gap: 14px;
  margin-bottom: 45px;
}

.category {
  display: flex;
  gap: 18px;
}

.category-title {
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  cursor: pointer;
}

.category-title:hover {
  border-bottom: 1px solid #b59f5b;
}

.post-title {
  margin-block-start: 0;
  margin-block-end: 0;

  font-family: 'Opensans-bold', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 28px;
  margin-top: 4px;
  cursor: pointer;
}

.post-title:hover {
  color: #b59f5b;
}

.date {
  font-family: 'Opensans-regular', sans-serif;
  font-size: 12px;
  color: #888888;
}

.author {
  font-family: 'Opensans-bold', sans-serif;
  font-size: 12px;
}



.post-desc {
  font-family: 'Opensans-regular', sans-serif;
  font-size: 15px;
  line-height: 22px;

}

.post-desc-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar {
  flex: 0 0 272px;
}

.new-posts {
  height: auto;
}

.new-post-title {
  margin-block-start: 0;
  margin-block-end: 0;

  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 29.15px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 5px;
}

.new-post-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
}

.new-post {
  margin-top: 11px;
  display: flex;
}

.new-post:first-child {
  margin-top: 31px;
}

.new-post-image {
  width: 70px;
  height: 71px;
  margin-top: 5px;
}

.new-post-description {
  margin-left: 20px;
  box-sizing: border-box;
}

.new-post-desc {
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
}

.search-form {
  display: flex;
  margin-top: 60px;
}

.search-input {
  box-sizing: border-box;
  font-size: 13px;
  width: 224px;
  height: 50px;
  padding: 0 20px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
}

.search-input:focus {
  width: 224px;
  height: 50px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.placeholder {
  opacity: 0.541;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  font-family: 'Opensans-regular', sans-serif;
}

.search-button {
  -webkit-appearance: none;
  appearance: none;

  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  background-color: #323232;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.mailing-list-title {
  margin-block-start: 0;
  margin-block-end: 0;

  margin-top: 50px;
  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 700;
}


.mailing-list-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.email-field {
  margin-top: 30px;
  box-sizing: border-box;
  font-size: 13px;
  width: 272px;
  height: 50px;
  padding: 0 20px;
  background-color: #f4f7f6;
  border: none;
  outline: none;
}

.email-field:focus {
  width: 272px;
  height: 50px;
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.subscribe-button {
  margin-top: 16px;
  width: 272px;
  height: 50px;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  background-color: #b59f5b;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
  border: none;
  cursor: pointer;
}

.subscribe-button:hover {
  width: 272px;
  height: 50px;
  background-color: #323232;
}

.tags-title {
  margin-block-start: 0;
  margin-block-end: 0;

  margin-top: 50px;
  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 700;
}


.tags-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
  width: 272px;
  margin-top: 35px;
}

.tags-item {
  box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
  padding: 5px 15px;
  background-color: rgba(244,243,241,0);  
  border: 3px solid #eeeeee;
  text-align: center;
  line-height: 10px;
}

.tags-item:hover {
  background-color: rgba(244,243,241,0);
  border: 3px solid #b59f5b;
}

.themes-title {
  margin-block-start: 0;
  margin-block-end: 0;

  margin-top: 62px;
  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  line-height: 29px;
  text-transform: uppercase;
  font-weight: 700;
}

.themes-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
}

.themes-list {
  list-style-type: none;
  height: 272px;
  margin-top: 18px;
  height: 321px;
}

.themes-item {
  position: relative;
  box-sizing: border-box;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  font-weight: 700;
}

.themes-item ::after {
  content: "";
  position: absolute;
  width: 272px;;
  height: 1px;
  background-color: #eeeeee;
  top: 37px;
  left: 0;
  bottom: 0;
}

.themes-item:hover {
  font-size: 14px;
  line-height: 47px;
  color: #b59f5b;
  font-weight: 700;
}

.exponent {
  font-size: 12px;
  margin-left: 6px;
  vertical-align: super;
  line-height: 36px;
  color: #b59f5b;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
}

.shop-title {
  margin-block-start: 0;
  margin-block-end: 0;

  position: relative;
  font-family: 'Opensans-bold', sans-serif;
  font-size: 20px;
  color: #000000;
  line-height: 29.15px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 53px;
  height: 23px;
}

.shop-title::after {
  content: "";
  position: absolute;
  width: 67px;
  height: 4px;
  background-color: #e1d9bd;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
}

.shop-wrapper {
  max-width: 1170px;
  gap: 135px;
  margin: 44px auto 0;
  display: flex;
  flex-wrap: nowrap;
}

.shop-items {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.shop-item {
  max-width: 301px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.shop-item::after {
  content: "";
	position: absolute;
  width: 345px;
	height: 268px;
  background-color: rgba(0,0,0,0);
	border: 3px solid #b59f5b;
	top: -40px;
  left: 50%;
  transform: translateX(-50%);
	z-index: 1;
}

.shop-item-title {
	margin-top: 27px;
	font-family: 'Opensans-bold', sans-serif;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
}

.shop-item-desc {
	margin-top: 17px;
	font-size: 15px;
	line-height: 22px;
	color: #0f0d0e;
	font-weight: 400;
	font-family: 'Opensans-regular', sans-serif;
	position: relative;
	z-index: 2;
}

.shop-item-desc-link {
	color: #b59f5b;
	text-decoration: none;
	cursor: pointer;
}

.shop-item-desc-link:hover {
	font-weight: 400;
  text-decoration: underline;
}

.price {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	font-family: 'Opensans-bold', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700
}

.price:nth-child(2) {
	margin-top: 40px;
}

.price-1 {
	text-decoration: line-through;
	font-size: 14px;
	text-decoration: line-through;
	text-transform: uppercase;
	color: #0f0d0e;
	font-weight: 700;
	font-family: 'Opensans-bold', sans-serif;
}

.shop-button {
	width: 141px;
	height: 49px;
	background-color: #b59f5b;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Opensans-bold', sans-serif;
	border: none;
	position: absolute;
	left: 160px;
	bottom: 0px;
	cursor: pointer;
	z-index: 2;
}

.shop-button:hover {
	background-color: #323232;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  margin: 90px auto 0;
}

.footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 83px;
  gap: 30px;
  background-color: #f4f7f6;
  width: 100%;
  max-width: 1170px;
}


.footer-icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.footer-copyright {
  margin-top: 57px;
  font-size: 12px;
  line-height: 40px;
  color: #999999;
  font-weight: 700;
  font-family: 'Opensans-bold', sans-serif;
  text-align: center;
}